.colophon {
  background-color: #484859;
  padding: 28px 14px;
  margin: 0 16px;
}

.colophon * {
  color: white;
}

.colophon__title {
  margin-bottom: 20px;
}

.colophon__group__1 {
  margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
  .colophon {
    width: 520px;
    margin-left: 6vw;
  }
}