.underConstruction__wrap {}

.underConstruction {
  z-index: 200;
  position: absolute;
  background-color: #3DEFC4;
  outline: 1px solid var(--black);
  width: 86vw;
  padding: 4vw;
  display: block;
  display: none;
}

.underConstruction__img {
  margin-bottom: 1em;
  width: 60vw;
  display: block;
  margin: auto;
  margin-bottom: 1em;
}

.underConstruction_text {
  text-align: center;
  width: 80vw;
}

@media only screen and (min-width: 600px) {}