:root {
  --background: #A8ECC8;
  --black: #000000;
  --secondary: white;
  --accent: #F64A00;
  --animation-duration: 0.4s;
  --animation-spring: cubic-bezier(0.31, 1.49, 0.48, 1);
  --animation-soft-spring: cubic-bezier(0.2, 1.4, 0.5, 1);
  --animation-ease: ease-in-out;
  --animation-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.popUp {
  animation: popUp 0.7s var(--animation-soft-spring) forwards;
}

.popOut {
  animation: popOut 0.4s ease-out forwards;
}

.fadeIn {
  animation: fadeIn var(--animation-duration) var(--animation-ease) forwards;
}

.fadeOut {
  animation: fadeOut var(--animation-duration) var(--animation-ease) forwards;
}

.remove {
  display: none;
}

.appear {
  display: inherit;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

@keyframes popUp {
  from { opacity: 0; transform: translateY(60px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popOut {
  0% { opacity: 1; transform: translateY(0); }
  40% { opacity: 0; }
  100% { opacity: 0; transform: translateY(60px); visibility: hidden; }
}
