:root {
  --background: #A8ECC8;
  --black: #000000;
  --secondary: white;
  --accent: #F64A00;

}

html {
  /* background: linear-gradient(180deg, #D59EFF 0%, #95A7F6 100%); */
}

.popOut {
  animation: popOut 0.7s cubic-bezier(.31, 1.49, .48, 1) forwards;
  position: fixed;
  z-index: 120;
}

.popUp {
  animation: popUp 0.7s cubic-bezier(.31, 1.49, .48, 1);
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

.remove {
  display: none;
}

.appear {
  display: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
    margin-top: 30px;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }

}

@keyframes popOut {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);

  }

  99% {
    opacity: 0;
    transform: translate(0px, 30px);
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }

}

@keyframes popUp {
  from {
    opacity: 0;
    transform: translate(0px, 30px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}