.index {
    overflow-x: hidden;
    max-height: min-content;
    vertical-align: bottom;
}

.index__wrapper {
    margin-bottom: -130px;
}

.index__voices {
    position: relative;
    margin-left: 24vw;
    transform: translateY(-60px);
}

.index__type-mirror {
    position: relative;
    margin-left: 4vw;
    transform: translateY(-150px);
}


.index__kilotype {
    position: relative;
    transform: translate(-9vw, -120px);
}

.index__sel {
    position: relative;
    margin-left: 14vw;
    transform: translateY(-160px);
}

.index__semaphore {
    position: relative;
    transform: translate(-10vw, -210px);
}

.index__audio-visualizer {
    position: relative;
    margin-left: 37vw;
    transform: translateY(-250px);
}

.index__posters {
    transform: translateY(-270px);
    position: relative;
    margin-left: 4vw;
}

.index__posters__1 {
    margin-left: 8vw;
    transform: translateY(10vw);

}

.index__posters__2 {
    margin-left: 3vw;
    transform: translateY(10vw);
}

.index__posters__3 {
    margin-left: 10vw;
}

.index__canvas {
    position: relative;
    margin-left: 65vw;
    transform: translateY(-80px);
}

.index__ditto {
    position: relative;
    margin-left: 6vw;
    transform: translateY(-60px);
}

.index__pixel {
    position: relative;
    margin-left: 25vw;
    transform: translateY(-110px);
    z-index: 10;

}

.index__colophon {
    position: relative;
    z-index: 10;
}

.index__footer {
    position: relative;
}

.index__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.index__cat__img {
    width: 20vw;
    margin-bottom: -1vw;
}

@media only screen and (max-width: 600px) {}