body {
    /* margin: 0;
    height: 100%;
    overflow: hidden; */
}

.index {
    overflow-x: hidden;
    max-height: min-content;
    vertical-align: bottom;
}

.index_grid {
    position: fixed;
    z-index: 1;

}

/* .index__wrapper {
    height: calc(328vh - 300px);
    overflow-y: hidden;
} */

.index__noise {
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: soft-light;
}

.index__background {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.noScroll {
    overflow: hidden;
}


.index>* {
    overflow: hidden;
}

.index__wrapper {
    margin-bottom: -15vw;
}

.index__wrapper a {
    text-decoration: none;
}

.index__filter {
    width: 100vw;
    height: 100vh;
    background: var(--background);
    position: fixed;
    z-index: 110;
    mix-blend-mode: lighten;
}

.index__infoShortcuts {
    position: absolute;
    top: 500px;
    left: 10vw;
    z-index: 2;
}

.index__syne {
    position: relative;
    margin-left: 30vw;
    transform: translateY(-30vw);
    width: 90vw;
    height: 49.7vw;
    z-index: 10;
}

.index__syne__wrp {
    height: 49.7vw;
}

.index__syne__img {
    width: 90vw;
}

.index__voices {
    position: relative;
    margin-left: 49vw;
    transform: translateY(-38vw);
    width: 72vw;
    height: 190vw;
    z-index: 10;
}

.index__voices-and-voids__wrp {
    height: 190vw;
}

.index__voices-and-voids__img {
    width: 72vw;
}


.index__cork {
    position: relative;
    margin-left: -4vw;
    transform: translateY(-100vw);
    width: 60vw;
    height: 39vw;
    z-index: 10;
}

.index__cork__wrp {
    height: 39vw;
}

.index__cork__img {
    width: 60vw;
}

.index__cycl {
    position: relative;
    margin-left: 22vw;
    transform: translateY(-75vw);
    width: 33vw;
    height: 31vw;
    z-index: 8;
}

.index__cycl__wrp {
    height: 31vw;
}

.index__cycl__img {
    width: 33vw;
}

.index__cloister {
    position: relative;
    margin-left: 52vw;
    transform: translateY(-81vw);
    width: 33vw;
    height: 31vw;
    z-index: 7;
}

.index__cloister__wrp {
    height: 31vw;
}

.index__cloister__img {
    width: 33vw;
}

.index__smallSticky{
    position: relative;
    transform: translateY(-10vw);
}

.index__fontShortcuts{
    position: relative;
    margin-left: 10vw;
    display:flex;
    flex-direction:row;
    transform: translateY(-74vw);
    z-index: 11;
}


.index__type-mirror {
    position: relative;
    margin-left: 53vw;
    transform: translateY(-69vw);
    width: 50vw;
    height: 36vw;
    z-index: 10;
}

.index__type-mirror__wrp {
    height: 36vw;
}

.index__type-mirror__img {
    width: 50vw;
}

.index__doodler {
    position: relative;
    margin-left: -10vw;
    transform: translateY(-73vw);
    width: 90vw;
    height: 42vw;
    z-index: 8;
}

.index__doodler__wrp {
    height: 42vw;
}

.index__doodler__img {
    width: 90vw;
}

.index__semaphore {
    position: relative;
    transform: translate(33vw, -55vw);
    width: 70vw;
    height: 57vw;
    z-index: 10;
}

.index__semaphore__wrp {
    height: 57vw;
}

.index__semaphore__img {
    width: 70vw;
}

.index__kilotype {
    position: relative;
    transform: translate(-10vw, -56vw);
    width: 85vw;
    height: 60vw;
    z-index: 11;
}

.index__kilotype__wrp {
    height: 60vw;
}

.index__kilotype__img {
    width: 85vw;
}

.index__audio-visualizer {
    position: relative;
    margin-left: 18vw;
    transform: translateY(-38vw);
    width: 88vw;
    height: 58vw;
    z-index: 100;
}

.index__audio-visualizer__wrp {
    height: 58vw;
}

.index__audio-visualizer__img {
    width: 88vw;
}

.index__colophon {
    position: relative;
    z-index: 200;
    /* margin-top: 5vw; */
}

.index__footer {
    position: relative;
}

.index__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.index__cat {
    z-index: 100;
}

.index__cat__img {
    width: 20vw;
    margin-bottom: -1vw;
}

@media only screen and (min-width: 760px) {
    .index__wrapper {
        height: calc(650vw + 100px);
 
     }
}

@media only screen and (min-width: 1000px) {

    .index__wrapper {
       height: calc(275vw + 200px);


        overflow-y: hidden;
    }

    .index__infoShortcuts {
        position: absolute;
        top: 180px;
        left: 70px;
    }

    .index__syne {
        position: relative;
        margin-left: 60vw;
        transform: translateY(-12vw);
        width: 60vw;
        height: 33.2vw;
        z-index: 100;
    }


    .index__syne__wrp {
        height: 33.2vw;
    }

    .index__syne__img {
        width: 60vw;
    }

    .index__voices {
        position: relative;
        margin-left: 34vw;
        transform: translateY(-38vw);
        width: 58vw;
        height: 150vw;
        z-index: 10;
    }

    .index__voices-and-voids__wrp {
        height: 150vw;
    }

    .index__voices-and-voids__img {
        width: 58vw;
    }

    .index__cork {
        position: relative;
        margin-left: 4vw;
        transform: translateY(-145vw);
        width: 40vw;
        height: 26vw;
        z-index: 10;
    }

    .index__cork__wrp {
        height: 26vw;
    }

    .index__cork__img {
        width: 40vw;
    }

    .index__cycl {
        position: relative;
        margin-left: 12vw;
        transform: translateY(-139vw);
        width: 11vw;
        height: 11vw;
        z-index: 11;
    }

    .index__cycl__wrp {
        height: 11vw;
    }

    .index__cycl__img {
        width: 11vw;
    }

    .index__cloister {
        position: relative;
        margin-left: 20vw;
        transform: translateY(-140vw);
        width: 11vw;
        height: 11vw;
        z-index: 10;
    }

    .index__cloister__wrp {
        height: 11vw;
    }

    .index__cloister__img {
        width: 11vw;
    }


    .index__fontShortcuts{
        margin-left: 7vw;
        transform: translateY(-135vw);
    }

    .index__type-mirror {
        margin-left: 14vw;
        width: 24vw;
        height: 18vw;
        transform: translateY(-127vw);
    }

    .index__type-mirror__wrp {
        height: 18vw;
    }

    .index__type-mirror__img {
        width: 24vw;
    }


    .index__doodler {
        position: relative;
        margin-left: 60vw;
        transform: translateY(-112vw);
        width: 48vw;
        height: 22vw;
        z-index: 10;
    }

    .index__doodler__wrp {
        height: 22vw;
    }

    .index__doodler__img {
        width: 48vw;
    }

    .index__semaphore {
        position: relative;
        transform: translate(-3vw, -128vw);
        width: 44vw;
    }

    .index__semaphore__img {
        width: 44vw;
    }

    .index__kilotype {
        position: relative;
        transform: translate(7vw, -140vw);
        z-index: 150;
        width: 48vw;
        height: 35vw;
    }

    .index__kilotype__wrp {
        height: 35vw;
    }

    .index__kilotype__img {
        width: 48vw;
    }

    .index__audio-visualizer {
        position: relative;
        margin-left: 51vw;
        transform: translateY(-196vw);
        width: 45vw;
        height: 31vw;
    }

    .index__audio-visualizer__wrp {
        height: 31vw;
    }

    .index__audio-visualizer__img {
        width: 45vw;
    }

    .index__colophon {
        position: relative;
        z-index: 200;
    }


    .index__cat__img {
        width: 8vw;
        margin-bottom: -1vw;
    }

}

@media only screen and (min-width: 1500px) {

    .index__wrapper {
        height: calc(270vw + 100px);
    }
}