.footer {
  margin-top: 16px;
  border: 1px solid var(--black);
  background-color: white;
  width: 10em;
  padding: 16px;
  float: right;
  margin-right: 16px;
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 1em;
}

.footer__links__title {
  display: flex;
  margin-bottom: 0.2em;
}

.footer__links__title__img {
  height: 1em;
}

.footer__links__title__text {
  margin-top: 2px;
  margin-left: 6px;
}


.footer__note__heart {
  display: flex;
}

.footer__note__heart__text {
  margin-top: 3px;
}

.footer__note__heart__img {
  height: 1.5em;
  margin-left: 6px;
}