.window {
  cursor: pointer;
}

.window__bar {
  height: 24px;
  border: 1px solid var(--black);
  transform: translateY(1px);
  background-color: var(--secondary);
  text-decoration: none;
}

.window__circles {
  display: flex;
  margin: 6px;
  margin-left: 10px;
}

.window__circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid var(--black);
  margin-right: 6px;
}

.window__bar__info {
  margin-left: 4px;
  transform: translateY(-3px);
  text-decoration: none;

}

.window__image-wrapper {
  /* adds scrollbars */
  position: relative;
  border: 1px solid var(--black);
  background-color: var(--background);
  overflow: hidden;

}

.window__image-wrapper__image {
  vertical-align: top;
  clear: both;
}