.shortcut {
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.shortcut__img {
  width: 48px;
  height: 48px;
  margin-bottom: 2px;
}

.shortcut__link__text {
  text-decoration: none;
}