.book {
  display: flex;
  cursor: pointer;
}

.book__spine {
  width: 24px;
  border: 1px solid var(--black);
  background-color: var(--secondary);
}

.book__spine__title {
  /* transform: rotate(90deg); */
  margin-top: 10px;
  margin-left: 2px;
  writing-mode: vertical-rl;

}

.book__wrapper {
  background-color: var(--background);
}

.book__img {
  border: 1px solid var(--black);
  transform: translateX(-1px);
}