.sticky {
  position: relative;
  left: 10vw;
  transform: translateY(-10px);
  z-index: 1;
  width: 247px;
  height: 290px;
}

.sticky__bio {
  position: absolute;
  z-index: 1;
  padding: 16px;

}



.sticky__svg {}

.sticky__bio>h3 {
  margin-bottom: 12px;
}

@media only screen and (min-width: 600px) {
  .sticky {
    width: 380px;
    height: 350px;
    left: 22vw;
    top: -10px;
  }

  .sticky__bio {
    position: absolute;
    z-index: 1;
    padding: 24px;
  }



}