.sticky {
  position: relative;
  left: 10vw;
  transform: translateY(-10px);
  z-index: 1;
}

.sticky__bio {
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  width: 216px;
  z-index: 1;
}

.sticky__svg {}

.sticky__bio>h3 {
  margin-bottom: 12px;
}